.navbar-arrows {
    float: left;
    color: #fff;
    margin-left: 13%;
    margin-top: -10px;
    cursor: pointer;
}

legend {
    background-color: #ffffff;
    border: 0.1px #cecbcb solid;
    text-align: left;
    width: fit-content;
    line-height: 25px;
    font-size: 14px;
    margin-left: 3%;
    margin-top: -15px;
    font-family: Arial, serif;
}

body {
    padding: 0% 0% 0% 5%;
}

section {
    background: #ffffff73;
}

form,
fieldset {
    background-color: #e0e0ff;
    border: 2px rgb(123, 44, 187) solid;
    border-radius: 20px;
}
input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    background-color: #af4c6a;
    color: rgb(0, 0, 0);
    font-weight: 900;
    font-size: large;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: left;
}

input[type=submit]:hover {
    background-color: #7aac38;
}

#logo {
    margin-bottom: 0%;
    font-size: 40px;
}

#neard {
    color: rgb(119, 119, 119);
    font-weight: 800;
}

#luv {
    color: rgb(12, 71, 233);
    font-family: 'Lucida Grande', 'Lucida Sans', Arial, serif;
    font-weight: 500;
}

#slogan {
    font-family:'Lucida Grande', 'Lucida Sans', Arial, serif;
    margin-top: 0%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.col-10 {
    float: left;
    width: 10%;
    margin-top: 6px;
}

.col-15 {
    float: left;
    width: 15%;
    margin-top: 6px;
}

.col-quar {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-center {
    float: left;
    width: 50%;
    margin-top: 6px;
}

.col-quar2 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

.red {
    color: #eb1c3a;
}

.blue {
    color: #1d0daf;
}

.p-2 {
    padding: 2%;
}

.p-20 {
    padding: 20%;
}


.marg-2 {
    margin-top: 2%;
}


.width-20p {
    width: 20% !important;
}

.width-30p {
    width: 30%;
}